@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header{
    box-sizing: border-box;
    height: 75.4px;
    margin-bottom: 16px;
}

.cabecalho{
    background: linear-gradient(to bottom, #0F183E, #1A274F);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    z-index: 100;
    width: 100%;
    position: fixed;
}

.cabecalho__opcoes{
    display: flex;
    align-items: center;
    width: 45%;
    justify-content: space-around;
    position: relative;
}

.cabecalho__botao,
.cabecalho__botao__suspenso{
    background: none;
    border: none;
}

.cabecalho__botao__suspenso{
    /* padding: 1.5em 7em; */
}

.cabecalho__botao{
    margin: 0 10px;
}

.contato{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    background-color: #00CFD5;
    padding: 7px 10px;
    border-radius: 10px;
    color: #1A274F;
}
 
.cabecalho__links{
    position: absolute;
    top: -16%;
    background: linear-gradient(to bottom, #3D518E, #0F183E);
    border-radius: 3px;
    z-index: 2;
    box-sizing: border-box;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
}

.cabecalho__link{
    text-decoration: none;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    display: block;
    box-sizing: border-box;
}

.menu__hamburguer{
    padding: 0.8em 0.5em;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}